In [1]:
#Q1
import pandas as pd
data = pd.Series([4, 8, 15, 16, 23, 42])
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Q2
import pandas as pd
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
final= pd.Series(lst)
print(final)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [6]:
#Q3
import pandas as pd
lst ={'name':['alice','bob','david'],
      'age':[35,30,79],
      'gender':['male','female','male']
}
final1 = pd.DataFrame(lst)
print(final1)

    name  age  gender
0  alice   35    male
1    bob   30  female
2  david   79    male

In [ ]:
#Q4
Pandas Series is One-dimensional,Size-immutable and Series elements must be of the same data type. 
Whereas Pandas DataFrame is Two-dimensional,Size-mutable and DataFrame elements can have different data types.

In [9]:
#Q5
print(final1.head(1)) #Returns the first n rows of the DataFrame.
print(final1.tail(1)) #Returns the last n rows of the DataFrame.
print(final1.shape)   #Returns the dimensions of the DataFrame

    name  age gender
0  alice   35   male
    name  age gender
2  david   79   male
(3, 3)

In [ ]:
#Q6
Dataframes are size mutable